<div class="row">
    <div class="col-xs-12 ">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h4 class="pull-left"><strong>Contacts</strong></h4>
                <button class="btn btn-success pull-right">New Contact</button>
            </div>
            <div class="panel-body">
                <a href="#" class="list-group-item clearfix" *ngFor="let con of contacts">
                    <div class="pull-left">
                        <h4 href="" class="list-group-item-heading">{{con.name}}</h4>
                        <!-- <p class="list-group-item-text">Description</p> -->
                    </div>
                    <span class="pull-right">
                        <img [src]="con.imageUrl" alt="{{con.name}} image" class="img-responsive" style="max-height: 50px;">
                    </span>
                </a>
                <!-- <cms-contact-item></cms-contact-item> -->
            </div>
        </div>
    </div>
</div>

