<div class="row">
    <div class="col-xs-12 ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <span class="title pad-left-right">Contacts</span>
                </div>
                <div class="row">
                    <div class="input-group pull-left pad-left-right col-xs-7">
                        <input type="text" class="form-control" placeholder="Enter a search value" name="searchBox" #searchBox (keyup)="search(searchBox.value)">
                        <!-- Add the search box input field here -->
                        <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
                    </div>
                    <div class="pull-right pad-left-right">
                        <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <!-- <a href="#" class="list-group-item clearfix" *ngFor="let con of contacts">
                    <div class="pull-left">
                        <h4 href="" class="list-group-item-heading">{{con.name}}</h4>
                        <!- - <p class="list-group-item-text">Description</p> - ->
                    </div>
                    <span class="pull-right">
                        <img [src]="con.imageUrl" alt="{{con.name}} image" class="img-responsive" style="max-height: 50px;">
                    </span>
                </a> -->
                <cms-contact-item *ngFor="let c of contacts|contactsFilter:term" [contact]="c" dnd-draggable dragEnabled="true" [dragData]="c" [dropZones]="['contactGroup']"></cms-contact-item>
            </div>
        </div>
    </div>
</div>

